@font-face {
  font-family: "Bungee-Outline";
  src: url("../fonts/BungeeOutline-Regular.ttf");
}
@font-face {
  font-family: "Bungee-Shade";
  src: url("../fonts/BungeeShade-Regular.ttf");
}
@font-face {
  font-family: "Barlow-Condensed";
  src: url("../fonts/BarlowCondensed-Regular.ttf");
}
@font-face {
  font-family: "Barlow-Semi-Condensed";
  src: url("../fonts/BarlowSemiCondensed-Regular.ttf");
}