/*BODY BACKGROUND*/
body {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
}
main {
  background-color: rgba(28, 28, 28, 0.4);
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  margin: 0 auto;
  padding: 0 1.2rem;
  width: 75vw;
}

/*NAVIGATION*/
nav {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2rem;
}
nav a {
  flex-grow: 1;
  flex-basis: 0;
  color: black;
  background-color: rgba(255, 255, 255, 0.45);
  text-decoration: none;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-align: center;
}
/*CURRENT POSITION BUTTON*/
nav a:nth-child(2) {
  border: 1.75px solid black;
  box-shadow: 0 0 6px 3px rgb(113, 122, 134);
}
nav a:nth-child(1):hover, nav a:nth-child(3):hover, nav a:nth-child(4):hover {
  background-color: rgba(173, 196, 227, 0.329);
  color: white;
}
/*SECTION*/
article {
  display: flex;
  flex-direction: column;
}
article p {
  margin: 2.5rem 0 0.5rem 0;
}
article + div {
  display: grid;
  grid-template-columns: 15vw 15vw;
  grid-template-rows: 15vw 15vw auto;
  gap: 0.5rem;
}
section:first-of-type, section:last-of-type {
  border-radius: 20px;
  border: 2px solid white;
  padding: 0.7rem;
}
section:first-of-type > div:first-child, section:last-of-type > div:first-child {
  display: flex;
  gap: 1.65%;
}


ul {
  list-style: none;
  margin: 0;
}
article + div > div:first-child {
  position: relative;
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
article + div > div:first-child img {
  position: absolute;
  opacity: 2;
  transition: opacity 1.3s ease-in-out;
}
article + div > div:first-child img:nth-child(2):hover {
  opacity: 0;
}
article + div p {
  margin-left: 1rem;
  font-size: 0, 9rem;
  font-weight: bolder;
  margin-bottom: 0.2rem;
}
article + div ol {
  padding: 0.5rem;
  padding-top: 0;
  margin-left: 1.5rem;
  margin-top: 0;
}
article + div div:nth-child(2) {
  font-size: 0.9rem;
}
article + div div:nth-child(3) {
  font-size: 0.9rem;
}
/*FIRST SECTION*/
section > div:nth-child(2) div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.2rem 1rem;
}
section > div:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 0.45rem;
  column-gap: 0.29rem;
}
section:first-of-type article + div div:nth-child(2), section:first-of-type article + div div:nth-child(3) {
  background-color: rgb(241, 243, 247);
  color: rgb(0, 0, 0);
}
/*Fontsize lower row*/
section > div:nth-child(2) p {
  font-size: 1.1rem;
  margin: 0;
}
section:first-of-type > div:nth-child(2) div:nth-child(1) {
  color: rgb(241, 243, 247);
  background-color: rgb(113, 122, 134);
}
section:first-of-type > div:nth-child(2) div:nth-child(3) {
  color: rgb(241, 243, 247);
  background-color: rgb(113, 122, 134);
}
section:first-of-type > div:nth-child(2) div:nth-child(5) {
  color: rgb(241, 243, 247);
  background-color: rgb(113, 122, 134);
}
section:first-of-type > div:nth-child(2) div:first-child {
}
section:first-of-type > div:nth-child(2) div:nth-child(3) {
  grid-column: 3 / 5;
}
section:first-of-type > div:nth-child(2) div:nth-child(4) {
  align-items: flex-end;
  background: url("");
  background-size: cover;
  color: white;
  color: white;
  display: flex;
  padding: 0.6rem 0.6rem;
}
section:first-of-type > div:nth-child(2) div:nth-child(5) {

}

/*FOOTER*/
footer {
  padding: 1.0rem 0.3rem 1.0rem 0.3rem;
  margin: 0.5rem 2rem 1rem 1rem;
}